{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "trailingComma": "es5",
    "printWidth": 80
}
